@model IEnumerable<FilmoviApp.Models.Glumac>

@{
    ViewData["Title"] = "Glumci";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<form>
    <table class="table-condensed" style="background-color:lightblue">
        <thead>
            <tr>
                <th>Tražilica</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ime:</td>
                <td><input name="ime" type="search" /><br /></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input name="prezime" type="search" /><br /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="submit" value="Search" /></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</form>
<br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlumacId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GlumacId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GlumacId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
