@model IEnumerable<FilmoviApp.Models.Film>

@{
    ViewData["Title"] = "Filmovi";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<form>
    <table class="table-condensed" style="background-color:lightblue">
        <thead>
            <tr>
                <th>Tražilica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Film:</td>
                <td><input name="naziv" type="search" /></td>
            </tr>
            <tr>
                <td>Žanr:</td>
                <td>@Html.DropDownList("zanr", "Sve")</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="submit" value="Search" /></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</form>
<br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Godina)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
